<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./core/tests/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Api">
            <directory>./core//tests/ApiTest</directory>
        </testsuite>
        <testsuite name="Application">
            <directory>./core//tests/ApplicationTest</directory>
        </testsuite>
    </testsuites>
</phpunit>